<h1>Ici tu peuxtrouver des informations à propos des auteur&#183;ice&#183;s du site</h1>
<p>Les informations sur l'équipe sont <a href="">ici</a></p>
<p>Pour des informations plus précises sur moi c'est <a href="">ici</a></p>
