<h1>Equipe de Rennes</h1>
<p>L'équipe de Rennes est constiuté de 5 personnes: </p>
<ul>
  <li>Leona Chevrel</li>
  <li>Rémi Samson</li>
  <li>Romain Saillour</li>
  <li>Sandrine Le Breton/li>
  <li><a href="<%= about_me_path %>">Christophe leray</a></li>
</ul>
