<h1>Infos sur L'équipe de Rennes </h1>
<p>Les informations sur l'équipe sont <a href="<%= about_team_path %>">ici</a></p>
<p>Pour des informations plus précises sur moi c'est <a href="<%= about_me_path %>">ici</a></p>
